<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" executionTimeout="7200" maxRequestLength="2097152"/>
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <!-- Put you application name here -->
    <add key="AppName" value="ZNxtApp" />
    <!-- this is the unique key of your application. Should be unique in your deploped enviorments  -->
    <add key="AppId" value="b758bd68-e295-4088-a340-5114761c662" />
    <!-- This is required in case if you are running application under some virtual directory in IIS-->
    <add key="AppPath" value="/ZNxtApp.Core.WebTest" />
    <!-- ZNxtApp required write access to this path -->
    <add key="ModuleCachePath" value="C:\temp\ZNxtApp" />
    
    <!-- ZNxtApp required write access to this path -->
    <add key="KeyValueFileStoragePath" value="E:\data\ZNxtKeyValStorage" />
    
    <!-- Mongo db name should be unique to that server-->
    <add key="DataBaseName" value="ZNxtAppTest" />
    <!-- mongoDB connection string-->
    <add key="MongoDBConnectionString" value="mongodb://localhost:27017" />
    <!-- AppMode values  :  Maintenance, Debug, Live -->
    <add key="AppMode" value="Maintenance" />
    <!-- <add key="Environment" value="prod" /> -->
    <!-- <add key="MongoDBConnectionString" value="mongodb://Admin:sqyjkGValSn6h0D1@cluster0-shard-00-00-xorwh.mongodb.net:27017,cluster0-shard-00-01-xorwh.mongodb.net:27017,cluster0-shard-00-02-xorwh.mongodb.net:27017/test?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin" />-->
    <!-- <add key="EncryptionKey" value="sscYyr+k1EjnpNoZnil2S6o67zaRWAaEdGVzdF8wYzhlY" /> -->
    <!-- <add key="HashKey" value="F8wYzhlYzdhZi1hOTIwLTQ5MWItODcyOC0yYzJhMzk2Z" /> -->
    <!-- StaticContentCache : true/false -->
     <add key="StaticContentCache" value="false"/>
    <!-- <add key="BackendPath" value="/admin001" />-->
    <!-- <add key="DefaultPage" value="/index.z" />-->
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="RequestHandler" verb="*" path="*" type="ZNxtApp.Core.Web.Handler.RequestHandler" allowPathInfo="true" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>