<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MongoDBConnectionString" value="mongodb://Admin:sqyjkGValSn6h0D1@cluster0-shard-00-00-xorwh.mongodb.net:27017,cluster0-shard-00-01-xorwh.mongodb.net:27017,cluster0-shard-00-02-xorwh.mongodb.net:27017/test?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin" />-->
    <add key="MongoDBConnectionString" value="mongodb://localhost:27017" />
    <!-- Mongo db name should be unique to that server-->
    <add key="DataBaseName" value="ZNxtApp_uniTest" />
  </appSettings>
</configuration>