<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="ZNxtApp.Core" version="1.0.14-Beta" targetFramework="net452" />
  <package id="ZNxtApp.Core.Module" version="1.0.11-Alpha" targetFramework="net452" />
</packages>